header {
  min-height: 100px;
}

header .callback-text {
  font-size: 17px;
}

header.header-position .question {
letter-spacing: -1px;
}

.variant5-dashed-box {
  position: absolute;
  margin-left: 510px;
  margin-top: 0px;
}

section.talking-hanter {
  background-image: url('../img/v5_background03.jpg');
  background-position: center;
  height: 548px;
}

section.talking-hanter .title {
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  margin-top: 15px;
}

section.talking-hanter .form {
  position: absolute;
  background-color: inherit;
  min-height: 375px;
  width: 460px;
  margin-top: 40px;
  margin-left: 493px;
  border: 5px dashed #6baa7f;
  border-radius: 0;
  box-shadow: none;
}

section.talking-hanter .action-text {
  color: #000;
  font-size: 29px;
  margin-top: 5px;
  letter-spacing: -2px;
}

section.talking-hanter .talking-action {
  /*margin-top: 17px;*/
  background-image: url('../img/v5_text01.png');
  background-repeat: no-repeat;
  background-position: center;
  /*color: transparent;*/
  height: 75px;
}

section.talking-hanter .timer-all {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 210px;
    margin-top: 19px;
    font-family: Open Sans;
    font-weight: 700;
    font-size: 24px;
}

section.talking-hanter .timer-section {
  color: #000;
}

section.talking-hanter .text-hours {
  background-image: url('../img/v4_background_timer_hours01.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 65px;
  height: 65px;
  text-align: center;
  padding-top: 10px;
}

section.talking-hanter .text-minutes {
  background-image: url('../img/v4_background_timer_minutes01.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 65px;
  height: 65px;
  text-align: center;

  padding-top: 10px;
}

section.talking-hanter .text-seconds {
  background-image: url('../img/v4_background_timer_seconds01.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 65px;
  height: 65px;
  text-align: center;

  padding-top: 10px;
}

section.talking-hanter .lable-timer {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    margin-top: 3px;
}

section.talking-hanter .text-bottom {
    text-align: center;
    font-family: PT Sans;
    font-weight: 700;
    font-size: 20px;
    font-variant: small-caps;
    color: #fff;
    margin-top: 44px;
    letter-spacing: -1px;
}

section.talking-hanter .red-arrow {
  position: absolute;
  bottom: 13px;
  right: 23px;
  width: 69px;
  height: 160px;
  background-image: url("../img/v5_arrow01.png");
  background-repeat: no-repeat;

}



section.conditions-work .text-black {
  color: #000;
}



section.asterix-message {
  background-color: #666;
  min-height: 31px;
  text-align: center;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 20px;
  font-variant: small-caps;
  color: #fff;
  white-space: nowrap;
}



section.caret-section {
  background-color: #e5e5e5;
  min-height: 26px;
}



section.original {
  margin-bottom: 42px;
}

section.original .text-one{
  letter-spacing: -1px;
}

section.original .text-black {
  color: #000;
}

section.original .title {
  font-size: 44px;
  margin-bottom: 22px;
}

section.original img {
  vertical-align: baseline;
}

section.original .advantage-line {
 margin-bottom: 21px;
}

section.original .advantage-text {
  margin-left: 12px;
  font-size: 21px;
  line-height: 1.2;
}

section.original .text-all {
  margin-top: 19px;
}



section.reviews {
/*   background-image: none;
  background-color: #6baa7f; */
}



section.best-gift .title {
  color: #000;
  font-size: 44px
}

section.best-gift .timer-all {
    margin-left: auto;
    margin-right: auto;
    width: 210px;
    margin-top: 17px;
    font-family: Open Sans;
    font-weight: 700;
    font-size: 24px;
}

section.best-gift .countdonw-text {
  width: 157px;
  margin-top: 10px;
  vertical-align: middle;
  line-height: 21px;
  text-align: left;
  display: inline-block;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  margin-left: 63px;
}

section.best-gift .timer-section {
  background: none;
  color: initial;
}

section.best-gift .text-hours {
  background-image: url('../img/v4_background_timer_hours01.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 65px;
  height: 65px;
  text-align: center;
  padding-top: 10px;
}

section.best-gift .text-minutes {
  background-image: url('../img/v4_background_timer_minutes01.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 65px;
  height: 65px;
  text-align: center;

  padding-top: 10px;
}

section.best-gift .text-seconds {
  background-image: url('../img/v4_background_timer_seconds01.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 65px;
  height: 65px;
  text-align: center;

  padding-top: 10px;
}



section.only-original-products {
  background-color: #6baa7f;
  color: #fff;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 23px;
}

section.only-original-products .block-left {
  width: 45%;
  float: left;
}

section.only-original-products .block-right {
  width: 45%;
  float: right;
}

section.only-original-products .points-container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

/*---  btn  ---*/
.ver5-btn-yello {
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#f0ad4e),to(#ec971f));
    background-image: -webkit-linear-gradient(top,#f0ad4e,0%,#ec971f,100%);
    background-image: -moz-linear-gradient(top,#f0ad4e 0,#ec971f 100%);
    background-image: linear-gradient(to bottom,#f0ad4e 0,#ec971f 100%);
    background-repeat: repeat-x;
    border-color: #eb9316;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e',endColorstr='#ffec971f',GradientType=0); 
    box-shadow: 0px 3px 0px 0px #999900;
    background-image: url('../img/img_btn01.png');
    background-repeat: repeat;
    border-color: transparent;
    color: #000;
    font-family: PT Sans;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 48px;
    width: 302px;
    line-height: 35px;
    margin-top: 5px; 
}

.ver5-btn-yello:hover {
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#f0ad4e),to(#ec971f));
    background-image: -webkit-linear-gradient(top,#f0ad4e,0%,#ec971f,100%);
    background-image: -moz-linear-gradient(top,#f0ad4e 0,#ec971f 100%);
    background-image: linear-gradient(to bottom,#f0ad4e 0,#ec971f 100%);
    background-repeat: repeat-x;
    border-color: #eb9316;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e',endColorstr='#ffec971f',GradientType=0); 
    box-shadow: 0px 2px 0px 0px #999900;
    background-image: url('../img/img_btn01_hover01.png');
    background-repeat: repeat;
    border-color: transparent;
    color: #000;
    font-family: PT Sans;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 48px;
    width: 302px;
    line-height: 35px;
    margin-top: 5px; 
}